.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;

    $alignment: (
        left: flex-start,
        center: center,
        right: flex-end,
    );

    @each $key, $value in $alignment {
        &--#{$key} {
            justify-content: $value;
        }
    }
}
