.wrapper {
    @include cover(fixed);
    opacity: 0;
    transition: all duration(1) ease(1);

    &--ready {
        opacity: 1;
    }
}

.inner {
    position: relative;
    height: 100vh;
    width: 100vw;

    canvas {
        @include cover();
        z-index: z_layer(1);
    }
}
