////////////////////////////////////////////////////////////////////////////////
// Spacing
////////////////////////////////////////////////////////////////////////////////
$nudge: 16px;

////////////////////////////////////////////////////////////////////////////////
// Container
////////////////////////////////////////////////////////////////////////////////
$container-padding: 8vw;
$container-width-sm: 800px;

////////////////////////////////////////////////////////////////////////////////
// Sizes
////////////////////////////////////////////////////////////////////////////////
$max-width: 1440px;
$wrap-copy: 800px;
$intro-logo-size: 50px;
$intro-welcome-size: 275px;
$header-logo-size: 33vw;
$header-logo-size-max: 300px;
$header-logo-mark-size: 20px;
