////////////////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////////////////
$colors: (
    // base colors
    dark: #1c1b22,
    light: #fff,
    // brand colors
    primary: #fee000,
    secondary: #212128,
);

@function theme-colors($key) {
    @return map-get($map: $colors, $key: $key);
}

////////////////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////////////////
$font-family: 'Source Code Pro', monospace;
$base-font-size: 16px;
$base-line-height: 24px;

////////////////////////////////////////////////////////////////////////////////
// Typography
////////////////////////////////////////////////////////////////////////////////
$p-size: 15px;
$p-size-two: 16px;
$p-line: 1.6;
$p-line-two: 1.6;
$h1-size: 12vw;
$h1-size-two: 70px;
$h1-line: 1.2;
$h1-line-two: 1.2;
$h2-size: 8vw;
$h2-size-two: 40px;
$h2-line: 1;
$h2-line-two: 1;
$h3-size: 18px;
$h3-line: 1.5;
$meta-size: 14px;
$quote-size: 19px;
$quote-size-two: 32px;
$quote-line: 1.5;
$quote-line-two: 1.5;
$nava-size: 40px;
$nava-size-two: 8vw;
$nava-line: 1.2;
$nava-line-two: 1.2;
$track: 0;
$track-two: 0.8px;
$footer-size: 50%;
$footer-size-two: 80%;
$btn-pad: 0.6em 1em;
$btn-size: 20px;

////////////////////////////////////////////////////////////////////////////////
// Animations
////////////////////////////////////////////////////////////////////////////////
$ease: cubic-bezier(0.62, 0, 0.38, 1); // main easing. custom ease-in-out
$ease-two: cubic-bezier(0.8, 0, 0.6, 1); // longer ease-in-out
$durations: (
    1: 400ms,
    2: 800ms,
    3: 12000ms,
    4: 1600ms,
    5: 2000ms,
);
@function duration($key) {
    @return map-get($map: $durations, $key: $key);
}
