.wrapper {
    position: relative;
}

.inner {
    padding: $nudge;
    min-width: $container-padding;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include h3();
    text-transform: none;
}