////////////////////////////////////////////////////////////////////////////////
// Box Sizing
////////////////////////////////////////////////////////////////////////////////
*,
*:before,
*:after {
    box-sizing: inherit;
}

////////////////////////////////////////////////////////////////////////////////
// Document
////////////////////////////////////////////////////////////////////////////////
html,
body,
#__next {
    height: 100%;
    width: 100%;
}

html {
    display: block;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    color: theme-colors(light);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: theme-colors(dark);
    color: theme-colors(light);
    font-family: $font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

////////////////////////////////////////////////////////////////////////////////
// Layout
////////////////////////////////////////////////////////////////////////////////
.container {
    display: block;
    position: relative;
    @include container();
}
