.wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
}

.button {
    padding: $nudge;

    &:not(:focus) {
        border-color: transparent;
    }
}

.icon {
    $size: (
        0: 24px,
        medium: 16px,
    );
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: relative;

    @each $bp, $val in $size {
        @if $bp == 0 {
            width: rem-calc($val);
            height: rem-calc($val - 3px);
        } @else {
            @include breakpoint($bp) {
                width: rem-calc($val);
                height: rem-calc($val - 3px);
            }
        }
    }
}

.line {
    width: 100%;
    height: rem-calc(1px);
    background-color: currentColor;
}
