.social {
    display: inline-block;
    list-style: none;

    &__item {
        display: inline-block;
    }

    &__link {
        display: inline-block;
        padding: rem-calc($nudge);
        color: theme-colors(light);

        svg {
            fill: currentColor;
        }
    }
}
