.wrapper {
    position: relative;
    display: block;
    width: 100%;
}

.content {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, $nudge, 0);
    transition-delay: duration(3);

    &:global(.enter) {
        visibility: hidden;
        opacity: 0;
        transform: translate3d(0, $nudge, 0);
    }

    &:global(.enter-active) {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: visibility 0ms 0ms $ease, opacity duration(1) 0ms $ease,
            transform duration(1) 0ms $ease;
    }

    &:global(.enter-done) {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    &:global(.exit) {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    &:global(.exit-active) {
        visibility: hidden;
        opacity: 0;
        transform: translate3d(0, $nudge, 0);
        transition: transform duration(1) 0ms $ease,
            opacity duration(1) 0ms $ease, visibility 0ms duration(1) $ease;
    }

    &:global(.exit-done) {
        visibility: hidden;
        opacity: 0;
        transform: translate3d(0, $nudge, 0);
    }
}
